In [96]:
import yfinance as yf
import pandas as pd

ticker = "F"
ul_price = yf.Ticker(ticker).history(period='1d')['Close'][0]
expirations = yf.Ticker(ticker).options[:3]

calls = pd.concat( [yf.Ticker(ticker).option_chain(expirations[0]).calls, yf.Ticker(ticker).option_chain(expirations[1]).calls, yf.Ticker(ticker).option_chain(expirations[2]).calls])

calls['intrinsic_value'] = ul_price - calls['strike'] 
calls.loc[calls['intrinsic_value'] < 0, 'intrinsic_value'] = 0
calls['market_price'] = (calls['bid'] + calls['ask']) / 2
calls['extrinsic_value'] = calls['market_price'] - calls['intrinsic_value']
calls['extrinsic_to_strike_percentage'] = calls['extrinsic_value'] / calls['strike'] 
calls['extrinsic_to_underlying_percentage'] = calls['extrinsic_value'] / ul_price
calls['called_away_percentage'] = ( ul_price - calls['market_price'] - calls['strike']) / ul_price * -1

print(ul_price)
print(calls[calls['extrinsic_value'] > .1].to_markdown())

12.140000343322754
|    | contractSymbol   | lastTradeDate             |   strike |   lastPrice |   bid |   ask |   change |   percentChange |   volume |   openInterest |   impliedVolatility | inTheMoney   | contractSize   | currency   |   intrinsic_value |   market_price |   extrinsic_value |   extrinsic_to_strike_percentage |   extrinsic_to_underlying_percentage |   called_away_percentage |
|---:|:-----------------|:--------------------------|---------:|------------:|------:|------:|---------:|----------------:|---------:|---------------:|--------------------:|:-------------|:---------------|:-----------|------------------:|---------------:|------------------:|---------------------------------:|-------------------------------------:|-------------------------:|
|  0 | F230818C00003000 | 2023-06-13 14:01:43+00:00 |      3   |       11.1  | 12.1  | 12.15 |     0    |         0       |        1 |              3 |           43.5      | True         | REGULAR        | USD        |              9.14 |         12.125 |             2.985 |                        0.995     |                            0.245881  |                0.245881  |
|  1 | F230818C00004000 | 2023-07-03 13:51:16+00:00 |      4   |       11.38 |  9.05 |  9.15 |     0    |         0       |      nan |              0 |            9.78907  | True         | REGULAR        | USD        |              8.14 |          9.1   |             0.96  |                        0.24      |                            0.0790774 |                0.0790774 |
| 12 | F230818C00012000 | 2023-08-11 19:59:46+00:00 |     12   |        0.31 |  0.3  |  0.31 |    -0.03 |        -8.82353 |     5838 |           3973 |            0.349616 | True         | REGULAR        | USD        |              0.14 |          0.305 |             0.165 |                        0.01375   |                            0.0135914 |                0.0135914 |
|  2 | F230825C00008000 | 2023-07-11 14:55:24+00:00 |      8   |        7.15 |  4.45 |  4.5  |     0    |         0       |      nan |              0 |            2.125    | True         | REGULAR        | USD        |              4.14 |          4.475 |             0.335 |                        0.041875  |                            0.0275947 |                0.0275947 |
|  8 | F230825C00011500 | 2023-08-11 19:57:26+00:00 |     11.5 |        0.76 |  0.75 |  0.79 |    -0.05 |        -6.17284 |       81 |             44 |            0.421881 | True         | REGULAR        | USD        |              0.64 |          0.77  |             0.13  |                        0.0113043 |                            0.0107084 |                0.0107084 |
|  9 | F230825C00012000 | 2023-08-11 19:59:29+00:00 |     12   |        0.4  |  0.39 |  0.42 |    -0.03 |        -6.97674 |      806 |            778 |            0.367194 | True         | REGULAR        | USD        |              0.14 |          0.405 |             0.265 |                        0.0220833 |                            0.0218286 |                0.0218286 |
| 10 | F230825C00012500 | 2023-08-11 19:59:40+00:00 |     12.5 |        0.17 |  0.16 |  0.18 |    -0.02 |       -10.5263  |     3394 |           2609 |            0.341803 | False        | REGULAR        | USD        |              0    |          0.17  |             0.17  |                        0.0136    |                            0.0140033 |                0.0436573 |
|  5 | F230901C00011000 | 2023-08-11 16:15:07+00:00 |     11   |        1.19 |  1.22 |  1.33 |    -0.03 |        -2.45901 |       92 |             50 |            0.537114 | True         | REGULAR        | USD        |              1.14 |          1.275 |             0.135 |                        0.0122727 |                            0.0111202 |                0.0111202 |
|  6 | F230901C00011500 | 2023-08-11 16:57:59+00:00 |     11.5 |        0.78 |  0.8  |  0.87 |    -0.09 |       -10.3448  |       84 |            183 |            0.42774  | True         | REGULAR        | USD        |              0.64 |          0.835 |             0.195 |                        0.0169565 |                            0.0160626 |                0.0160626 |
|  7 | F230901C00012000 | 2023-08-11 19:44:21+00:00 |     12   |        0.46 |  0.45 |  0.51 |    -0.04 |        -8       |      342 |            460 |            0.377936 | True         | REGULAR        | USD        |              0.14 |          0.48  |             0.34  |                        0.0283333 |                            0.0280066 |                0.0280066 |
|  8 | F230901C00012500 | 2023-08-11 19:51:46+00:00 |     12.5 |        0.23 |  0.22 |  0.23 |    -0.03 |       -11.5385  |     1001 |           2027 |            0.326179 | False        | REGULAR        | USD        |              0    |          0.225 |             0.225 |                        0.018     |                            0.0185338 |                0.0481878 |

In [97]:
xxx = yf.Ticker(ticker).history(period='1d')['Close'][0]
print(xxx)

12.140000343322754

In [98]:
import json
print(json.dumps(yf.Ticker(ticker).info, indent=4) )

{
    "address1": "One American Road",
    "city": "Dearborn",
    "state": "MI",
    "zip": "48126-1899",
    "country": "United States",
    "phone": "313 322 3000",
    "website": "https://www.ford.com",
    "industry": "Auto Manufacturers",
    "industryDisp": "Auto Manufacturers",
    "sector": "Consumer Cyclical",
    "sectorDisp": "Consumer Cyclical",
    "longBusinessSummary": "Ford Motor Company develops, delivers, and services a range of Ford trucks, commercial cars and vans, sport utility vehicles, and Lincoln luxury vehicles worldwide. It operates through Ford Blue, Ford Model e, and Ford Pro; Ford Next; and Ford Credit segments. The company sells Ford and Lincoln vehicles, service parts, and accessories through distributors and dealers, as well as through dealerships to commercial fleet customers, daily rental car companies, and governments. It also engages in vehicle-related financing and leasing activities to and through automotive dealers. In addition, the company provides retail installment sale contracts for new and used vehicles; and direct financing leases for new vehicles to retail and commercial customers, such as leasing companies, government entities, daily rental companies, and fleet customers. Further, it offers wholesale loans to dealers to finance the purchase of vehicle inventory; and loans to dealers to finance working capital and enhance dealership facilities, purchase dealership real estate, and other dealer vehicle programs. The company was incorporated in 1903 and is based in Dearborn, Michigan.",
    "fullTimeEmployees": 173000,
    "companyOfficers": [
        {
            "maxAge": 1,
            "name": "Mr. William Clay Ford Jr.",
            "age": 65,
            "title": "Exec. Chairman",
            "yearBorn": 1957,
            "fiscalYear": 2022,
            "totalPay": 4454794,
            "exercisedValue": 0,
            "unexercisedValue": 3773581
        },
        {
            "maxAge": 1,
            "name": "Mr. James D. Farley Jr.",
            "age": 60,
            "title": "Pres, CEO & Director",
            "yearBorn": 1962,
            "fiscalYear": 2022,
            "totalPay": 5850765,
            "exercisedValue": 1869342,
            "unexercisedValue": 4878137
        },
        {
            "maxAge": 1,
            "name": "Mr. John T. Lawler",
            "age": 56,
            "title": "VP & CFO",
            "yearBorn": 1966,
            "fiscalYear": 2022,
            "totalPay": 2420308,
            "exercisedValue": 81934,
            "unexercisedValue": 0
        },
        {
            "maxAge": 1,
            "name": "Mr. John Douglas Field",
            "age": 56,
            "title": "Chief Advanced Product Devel. & Technology Officer",
            "yearBorn": 1966,
            "fiscalYear": 2022,
            "totalPay": 970892,
            "exercisedValue": 0,
            "unexercisedValue": 0
        },
        {
            "maxAge": 1,
            "name": "Mr. Ashwani Kumar Galhotra",
            "age": 57,
            "title": "Pres of Ford Blue",
            "yearBorn": 1965,
            "fiscalYear": 2022,
            "totalPay": 2160312,
            "exercisedValue": 170586,
            "unexercisedValue": 0
        },
        {
            "maxAge": 1,
            "name": "Ms. Lynn Antipas Tyson",
            "age": 59,
            "title": "Exec. Director of Investor Relations",
            "yearBorn": 1963,
            "exercisedValue": 0,
            "unexercisedValue": 0
        },
        {
            "maxAge": 1,
            "name": "Mr. Steven P. Croley",
            "age": 56,
            "title": "Chief Policy Officer & Gen. Counsel",
            "yearBorn": 1966,
            "exercisedValue": 0,
            "unexercisedValue": 0
        },
        {
            "maxAge": 1,
            "name": "Ms. Beth A. Rose",
            "title": "Chief Compliance, Ethics & Integrity Officer",
            "exercisedValue": 0,
            "unexercisedValue": 0
        },
        {
            "maxAge": 1,
            "name": "Mr. Mark  Truby",
            "age": 52,
            "title": "Chief Communications Officer",
            "yearBorn": 1970,
            "exercisedValue": 0,
            "unexercisedValue": 0
        },
        {
            "maxAge": 1,
            "name": "Ms. Suzy  Deering",
            "age": 52,
            "title": "Global Chief Marketing Officer",
            "yearBorn": 1970,
            "exercisedValue": 0,
            "unexercisedValue": 0
        }
    ],
    "auditRisk": 9,
    "boardRisk": 8,
    "compensationRisk": 7,
    "shareHolderRightsRisk": 10,
    "overallRisk": 10,
    "governanceEpochDate": 1690848000,
    "compensationAsOfEpochDate": 1672444800,
    "maxAge": 86400,
    "priceHint": 2,
    "previousClose": 12.16,
    "open": 12.12,
    "dayLow": 12.0,
    "dayHigh": 12.2,
    "regularMarketPreviousClose": 12.16,
    "regularMarketOpen": 12.12,
    "regularMarketDayLow": 12.0,
    "regularMarketDayHigh": 12.2,
    "dividendRate": 0.6,
    "dividendYield": 0.0471,
    "exDividendDate": 1690156800,
    "payoutRatio": 0.5825,
    "beta": 1.607204,
    "trailingPE": 16.630136,
    "forwardPE": 6.457447,
    "volume": 61045776,
    "regularMarketVolume": 61045776,
    "averageVolume": 59989016,
    "averageVolume10days": 58231000,
    "averageDailyVolume10Day": 58231000,
    "bid": 12.14,
    "ask": 12.12,
    "bidSize": 21500,
    "askSize": 36200,
    "marketCap": 48569348096,
    "fiftyTwoWeekLow": 10.9,
    "fiftyTwoWeekHigh": 16.68,
    "priceToSalesTrailing12Months": 0.28600657,
    "fiftyDayAverage": 13.9004,
    "twoHundredDayAverage": 12.91055,
    "trailingAnnualDividendRate": 0.6,
    "trailingAnnualDividendYield": 0.049342107,
    "currency": "USD",
    "enterpriseValue": 163692068864,
    "profitMargins": 0.024360001,
    "floatShares": 3920780311,
    "sharesOutstanding": 3929920000,
    "sharesShort": 148522799,
    "sharesShortPriorMonth": 162082610,
    "sharesShortPreviousMonthDate": 1688083200,
    "dateShortInterest": 1690761600,
    "sharesPercentSharesOut": 0.037100002,
    "heldPercentInsiders": 0.0018799999,
    "heldPercentInstitutions": 0.56184,
    "shortRatio": 2.55,
    "shortPercentOfFloat": 0.040999997,
    "impliedSharesOutstanding": 0,
    "bookValue": 10.913,
    "priceToBook": 1.1124347,
    "lastFiscalYearEnd": 1672444800,
    "nextFiscalYearEnd": 1703980800,
    "mostRecentQuarter": 1688083200,
    "earningsQuarterlyGrowth": 1.874,
    "netIncomeToCommon": 4136000000,
    "trailingEps": 0.73,
    "forwardEps": 1.88,
    "pegRatio": -3.22,
    "lastSplitFactor": "1748175:1000000",
    "lastSplitDate": 965260800,
    "enterpriseToRevenue": 0.964,
    "enterpriseToEbitda": 11.817,
    "52WeekChange": -0.25612748,
    "SandP52WeekChange": 0.038842082,
    "lastDividendValue": 0.15,
    "lastDividendDate": 1690156800,
    "exchange": "NYQ",
    "quoteType": "EQUITY",
    "symbol": "F",
    "underlyingSymbol": "F",
    "shortName": "Ford Motor Company",
    "longName": "Ford Motor Company",
    "firstTradeDateEpochUtc": 76253400,
    "timeZoneFullName": "America/New_York",
    "timeZoneShortName": "EDT",
    "uuid": "80061894-3025-315f-869e-4e1f09471012",
    "messageBoardId": "finmb_106335",
    "gmtOffSetMilliseconds": -14400000,
    "currentPrice": 12.14,
    "targetHighPrice": 23.0,
    "targetLowPrice": 11.0,
    "targetMeanPrice": 14.41,
    "targetMedianPrice": 13.57,
    "recommendationMean": 2.7,
    "recommendationKey": "hold",
    "numberOfAnalystOpinions": 20,
    "totalCash": 29753999360,
    "totalCashPerShare": 7.434,
    "ebitda": 13852000256,
    "totalDebt": 144849993728,
    "quickRatio": 0.989,
    "currentRatio": 1.205,
    "totalRevenue": 169818996736,
    "debtToEquity": 332.179,
    "revenuePerShare": 42.402,
    "returnOnAssets": 0.01788,
    "returnOnEquity": 0.09125,
    "grossProfits": 17215000000,
    "freeCashflow": -895374976,
    "operatingCashflow": 12824999936,
    "earningsGrowth": 1.938,
    "revenueGrowth": 0.119,
    "grossMargins": 0.1034,
    "ebitdaMargins": 0.08157,
    "operatingMargins": 0.043109998,
    "financialCurrency": "USD",
    "trailingPegRatio": 0.6725
}

In [99]:
import warnings
import datetime as dt
from pyblackscholesanalytics.market.market import MarketEnvironment
from pyblackscholesanalytics.options.options import PlainVanillaOption, DigitalOption

warnings.filterwarnings("ignore")

def option_factory(mkt_env, plain_or_digital, option_type, **kwargs):
    option_dispatcher = {
        "plain_vanilla": {"call": PlainVanillaOption(mkt_env, **kwargs),
                          "put": PlainVanillaOption(mkt_env, option_type="put", **kwargs)
                          },
        "digital": {"call": DigitalOption(mkt_env, **kwargs),
                    "put": DigitalOption(mkt_env, option_type="put", **kwargs)
                    }
    }

    return option_dispatcher[plain_or_digital][option_type]

def main():
    # if np_output is True, the output will be np.ndarray, otherwise pd.DataFrame
    np_output = False  # True

    # default market environment
    market_env = MarketEnvironment(dt.datetime.today(), 0.05, 3.39, 1.12)
    print(market_env)

     # define option style and type
    opt_style = "plain_vanilla"  # "digital" # "plain_vanilla"
    opt_type = "put"  # "put"
    option = option_factory(market_env, opt_style, opt_type, T='12-08-2023', K=3.5  )
    print(option)
    print(option.price())
    print(option.price_upper_limit())
    print(option.price_lower_limit())

main()

# Define the benchmark yield
bm_tickerSymbol = '^IRX'

# define the parameters as variables
S = 100 # underlying price
K = 110 # strike price
T = 0.5 # time to expiration (in years)
r = 0.05 # risk-free interest rate
q = 0 # dividend yield
sigma = 0.2 # volatility

Initializing the MarketEnvironment!
MarketEnvironment(t=12-08-2023, r=5.0%, S_t=3.4, sigma=112.0%)
Initializing the EuropeanOption!
Initializing the EuropeanOption!
Initializing the EuropeanOption!
Initializing the EuropeanOption!
PlainVanillaOption('put', S_t=3.4, K=3.5, t=12-08-2023, T=12-08-2023, tau=-0.00y, r=5.0%, sigma=112.0%)
[0.11]
[3.50047948]
[0.11047948]

In [100]:
import yfinance as yf
import pandas as pd
import datetime # import the datetime module

ticker = yf.Ticker("SPY") 
commish = 1
today = pd.to_datetime(datetime.date.today()) # get today's date as a DatetimeArray object


exp_dates = ticker.options # get all expiration dates
max_puts = [] # create an empty list to store the max_put for each date
today_data = ticker.history(period='1d') # get today's data
close_price = today_data['Close'].iloc[0] # get the close price
for date in exp_dates:
  opt = ticker.option_chain(date) # get option chain for a given date
  
  puts = opt.puts[(opt.puts['bid'] > 0) & (opt.puts['openInterest'] > 0)].copy() # get put options data and exclude puts that have a bid of 0
  
  puts.loc[:, 'lastTradeDate'] = pd.to_datetime(puts['lastTradeDate']) # convert the lastTradeDate column to a datetime object using .loc method
  puts.loc[:, 'lastTradeDate'] = puts['lastTradeDate'].dt.tz_localize(None) # remove the timezone information using .dt.tz_localize(None) method
  puts = puts[puts['lastTradeDate'] >= today - pd.Timedelta(days=7)] # filter out the puts that have not been traded in the last 30 days using .loc method


  # calculate extrinsic value and find the highest one
  puts.loc[:, 'mid'] = (puts['bid'] + puts['ask']) / 2 # calculate the mid point between the bid and ask using .loc method
  puts.loc[:, 'intrinsic'] = puts['strike'] - close_price # calculate intrinsic value using the close price using .loc method
  puts.loc[:, 'intrinsic'] = puts['intrinsic'].clip(lower=0) # ensure that intrinsic value is not less than 0 using .clip method
  puts.loc[:, 'extrinsic'] = puts['mid'] - puts['intrinsic'] # calculate extrinsic value using the mid point using .loc method


  max_extrinsic = puts['extrinsic'].max() # find the maximum extrinsic value
  max_put = puts[puts['extrinsic'] == max_extrinsic] # find the put option with the maximum extrinsic value
  max_puts.append(max_put) # add the max_put to the list


max_puts_df = pd.concat(max_puts) # concatenate the list of dataframes into a single dataframe

ticker_len = len(ticker.ticker) # get the length of the ticker symbol

max_puts_df.loc[:, 'expiryDate'] = pd.to_datetime(max_puts_df['contractSymbol'].str.slice(ticker_len, ticker_len+6), format='%y%m%d').dt.date # create a column named expiryDate using the contractSymbol column and convert it to a date object
max_puts_df.loc[:, 'dte'] = (pd.to_datetime(max_puts_df['expiryDate']) - today).dt.days # create a column named dte using the expiryDate column and calculate the days to expiration as an int

max_puts_df = max_puts_df[~(max_puts_df['dte'] == 0)] # remove rows where dte is 0

max_puts_df.loc[:, 'simpleReturn'] = (max_puts_df['extrinsic'] - commish/100) / max_puts_df['strike'] # calculate the simple return using the extrinsicValue and strike columns
max_puts_df.loc[:, 'annualized'] = max_puts_df['simpleReturn'] / max_puts_df['dte'] * 365  # calculate the annualized return using the extrinsicValue and strike columns

xxx_df = max_puts_df.loc[:, ['dte', 'expiryDate', 'strike', 'volume', 'openInterest', 'lastTradeDate', 'lastPrice', 'bid', 'ask', 'mid', 'extrinsic', 'simpleReturn', 'annualized', 'impliedVolatility']]
print(xxx_df.to_markdown())

#print(max_puts_df.to_markdown()) # print the updated dataframe as a markdown table

|     |   dte | expiryDate   |   strike |   volume |   openInterest | lastTradeDate       |   lastPrice |   bid |   ask |    mid |   extrinsic |   simpleReturn |   annualized |   impliedVolatility |
|----:|------:|:-------------|---------:|---------:|---------------:|:--------------------|------------:|------:|------:|-------:|------------:|---------------:|-------------:|--------------------:|
|  54 |     2 | 2023-08-14   |      446 |    78489 |           5259 | 2023-08-11 20:14:56 |        1.31 |  1.32 |  1.33 |  1.325 |    0.974994 |     0.00216366 |    0.394869  |           0.0710542 |
|  52 |     3 | 2023-08-15   |      446 |    16107 |           3050 | 2023-08-11 20:14:28 |        1.85 |  1.86 |  1.87 |  1.865 |    1.51499  |     0.00337443 |    0.410555  |           0.0907073 |
|  38 |     4 | 2023-08-16   |      446 |    16662 |           7201 | 2023-08-11 20:14:40 |        2.29 |  2.29 |  2.3  |  2.295 |    1.94499  |     0.00433855 |    0.395893  |           0.101877  |
|  57 |     5 | 2023-08-17   |      446 |     5226 |           1436 | 2023-08-11 20:14:33 |        2.58 |  2.58 |  2.59 |  2.585 |    2.23499  |     0.00498878 |    0.364181  |           0.105722  |
| 106 |     6 | 2023-08-18   |      446 |    22172 |          23253 | 2023-08-11 20:14:42 |        2.85 |  2.85 |  2.87 |  2.86  |    2.50999  |     0.00560537 |    0.340993  |           0.109262  |
|  63 |    13 | 2023-08-25   |      446 |     3784 |           4870 | 2023-08-11 20:14:56 |        4.14 |  4.14 |  4.17 |  4.155 |    3.80499  |     0.00850895 |    0.238905  |           0.114633  |
|  55 |    20 | 2023-09-01   |      446 |     2234 |           3684 | 2023-08-11 20:14:20 |        5    |  5    |  5.02 |  5.01  |    4.65999  |     0.010426   |    0.190274  |           0.113534  |
|  54 |    27 | 2023-09-08   |      446 |      966 |            883 | 2023-08-11 20:08:29 |        5.69 |  5.57 |  5.6  |  5.585 |    5.23499  |     0.0117152  |    0.158373  |           0.110116  |
| 140 |    34 | 2023-09-15   |      446 |     4493 |          17349 | 2023-08-11 20:00:00 |        6.8  |  6.67 |  6.69 |  6.68  |    6.32999  |     0.0141704  |    0.152123  |           0.118295  |
|  42 |    41 | 2023-09-22   |      446 |      324 |            430 | 2023-08-11 19:50:44 |        7.81 |  7.46 |  7.5  |  7.48  |    7.12999  |     0.0159641  |    0.14212   |           0.121438  |
| 113 |    48 | 2023-09-29   |      446 |      332 |           2351 | 2023-08-11 20:11:26 |        8.12 |  8.04 |  8.08 |  8.06  |    7.70999  |     0.0172646  |    0.131283  |           0.121347  |
|  92 |    69 | 2023-10-20   |      446 |     1476 |           3264 | 2023-08-11 20:14:54 |        9.55 |  9.54 |  9.58 |  9.56  |    9.20999  |     0.0206278  |    0.109118  |           0.120797  |
|  87 |    97 | 2023-11-17   |      445 |     1633 |          12268 | 2023-08-11 20:01:21 |       11.15 | 11.01 | 11.06 | 11.035 |   11.035    |     0.0247753  |    0.0932266 |           0.123727  |
| 139 |   125 | 2023-12-15   |      445 |      826 |          10522 | 2023-08-11 20:00:53 |       12.78 | 12.63 | 12.67 | 12.65  |   12.65     |     0.0284045  |    0.0829411 |           0.124566  |
|  94 |   139 | 2023-12-29   |      445 |      174 |           7983 | 2023-08-11 20:13:45 |       13.46 | 13.41 | 13.5  | 13.455 |   13.455    |     0.0302135  |    0.0793376 |           0.125741  |
|  53 |   160 | 2024-01-19   |      445 |      390 |           7950 | 2023-08-11 20:07:20 |       14.55 | 14.39 | 14.5  | 14.445 |   14.445    |     0.0324382  |    0.0739996 |           0.125741  |
|  78 |   216 | 2024-03-15   |      445 |      158 |           6527 | 2023-08-11 19:59:03 |       17.4  | 17.02 | 17.2  | 17.11  |   17.11     |     0.038427   |    0.0649345 |           0.128076  |
|  39 |   229 | 2024-03-28   |      445 |        5 |           2472 | 2023-08-11 17:47:45 |       18.3  | 17.65 | 17.88 | 17.765 |   17.765    |     0.0398989  |    0.0635943 |           0.129235  |
|  53 |   314 | 2024-06-21   |      445 |      233 |           5213 | 2023-08-11 19:40:27 |       21.34 | 20.96 | 21.23 | 21.095 |   21.095    |     0.047382   |    0.0550778 |           0.130792  |
|  64 |   321 | 2024-06-28   |      446 |        1 |             31 | 2023-08-08 15:47:16 |       23    | 21.57 | 22.07 | 21.82  |   21.47     |     0.0481166  |    0.054712  |           0.131265  |
|  59 |   405 | 2024-09-20   |      445 |      323 |           4678 | 2023-08-11 19:15:05 |       24.69 | 24.13 | 24.5  | 24.315 |   24.315    |     0.054618   |    0.0492236 |           0.13273   |
|  59 |   496 | 2024-12-20   |      445 |        3 |           7307 | 2023-08-11 18:02:34 |       27.47 | 26.69 | 27.84 | 27.265 |   27.265    |     0.0612472  |    0.045071  |           0.136148  |
|  53 |   524 | 2025-01-17   |      445 |        6 |            961 | 2023-08-11 19:38:12 |       28.36 | 25.67 | 30.5  | 28.085 |   28.085    |     0.0630899  |    0.0439462 |           0.145013  |
|  52 |   587 | 2025-03-21   |      440 |        2 |             87 | 2023-08-11 13:34:43 |       29.19 | 25.5  | 30.5  | 28     |   28        |     0.0636136  |    0.0395553 |           0.148667  |
|  54 |   678 | 2025-06-20   |      445 |        3 |            107 | 2023-08-11 18:55:24 |       32.51 | 32    | 34.5  | 33.25  |   33.25     |     0.0746966  |    0.0402128 |           0.144128  |
|  59 |   860 | 2025-12-19   |      445 |       14 |            181 | 2023-08-11 19:44:20 |       35.81 | 35.8  | 38.2  | 37     |   37        |     0.0831236  |    0.0352792 |           0.141671  |

In [101]:
import yfinance as yf
import pandas as pd
from IPython.display import HTML
import datetime

ticker = yf.Ticker("TQQQ") 
commish = 1
withinStrikePercentage = .05
today = pd.to_datetime(datetime.date.today())


exp_dates = ticker.options 
ticker_len = len(ticker.ticker)
max_puts = [] 
today_data = ticker.history(period='1d')
close_price = today_data['Close'].iloc[0] 
for date in exp_dates:
  opt = ticker.option_chain(date) 
  
  puts = opt.puts[(opt.puts['bid'] > 0) & (opt.puts['openInterest'] > 1000) & (opt.puts['strike'] >= (1-withinStrikePercentage) * close_price) & (opt.puts['strike'] <= (1+withinStrikePercentage) * close_price)].copy()
  
  puts.loc[:, 'lastTradeDate'] = pd.to_datetime(puts['lastTradeDate']) 
  puts.loc[:, 'lastTradeDate'] = puts['lastTradeDate'].dt.tz_localize(None) 
  puts = puts[puts['lastTradeDate'] >= today - pd.Timedelta(days=7)] 


  
  puts.loc[:, 'mid'] = (puts['bid'] + puts['ask']) / 2 
  puts.loc[:, 'intrinsic'] = puts['strike'] - close_price 
  puts.loc[:, 'intrinsic'] = puts['intrinsic'].clip(lower=0) 
  puts.loc[:, 'extrinsic'] = puts['mid'] - puts['intrinsic'] 

  puts.loc[:, 'expiryDate'] = pd.to_datetime(puts['contractSymbol'].str.slice(ticker_len, ticker_len+6), format='%y%m%d').dt.date 
  puts.loc[:, 'dte'] = (pd.to_datetime(puts['expiryDate']) - today).dt.days

  puts.loc[:, 'extrinsicPerDay'] = puts['extrinsic'] / puts['dte'] 

  puts.loc[:, 'exercisedReturn'] = (close_price - puts['strike'] + puts['extrinsic']- commish/100) / puts['strike']
  puts.loc[:, 'exercisedReturnAnnualized'] = puts['exercisedReturn'] / puts['dte'] * 365

  puts.loc[:, 'simpleReturn'] = (puts['extrinsic'] - commish/100) / puts['strike'] 
  puts.loc[:, 'annualized'] = puts['simpleReturn'] / puts['dte'] * 365  

  max_x = puts['exercisedReturn'].max() 
  max_put = puts[puts['exercisedReturn'] == max_x] 
  max_puts.append(max_put) 

  max_x = puts['extrinsic'].max() 
  max_put = puts[puts['extrinsic'] == max_x] 
  max_puts.append(max_put) 

  max_x = puts['simpleReturn'].max() 
  max_put = puts[puts['simpleReturn'] == max_x] 
  max_puts.append(max_put)

  max_x = puts['extrinsicPerDay'].max() 
  max_put = puts[puts['extrinsicPerDay'] == max_x] 
  max_puts.append(max_put)


max_puts_df = pd.concat(max_puts).sort_values(by='dte') 
max_puts_df = max_puts_df[~(max_puts_df['dte'] == 0)] 
max_puts_df = max_puts_df[~(max_puts_df['extrinsic'] < .1)] 

xxx_df = max_puts_df.loc[:, ['dte', 'expiryDate', 'strike', 'volume', 'openInterest', 'lastTradeDate', 'lastPrice', 'bid', 'ask', 'mid', 'extrinsic', 'extrinsicPerDay', 'exercisedReturn', 'exercisedReturnAnnualized', 'simpleReturn', 'annualized', 'impliedVolatility']]

xxx_df.drop_duplicates(subset=['dte', 'strike'], keep='first', inplace=True)

In [102]:
# Import the library
import jinja2
import pandas as pd

def toHtml(dataFrame, closing_price):
    # Convert the dataframe to a list of dictionaries
    data = dataFrame.to_dict(orient="records")
    
    # Create a html template with jinja2 syntax
    template = """
    <html>
    <head>
        <style>
            body {
                font-family: Arial, sans-serif;
                background-color: #333;
                color: #fff;
            }
            table {
                border: 2px solid #fff;
                margin: 20px auto;
            }
            th, td {
                padding: 10px;
                border-bottom: 1px solid #ddd;
            }
            th {
                background-color: #f2f2f2;
                color: #000;
                text-align: left;
            }
            td {
                text-align: left;
                color: #fff;
            }
            
            .highlight>td {
                background-color: #FFCC00;
                color:#000
            }
        </style>
    </head>
    <body>
        <h1>Report</h1>
        <p>This is a report generated with jinja2 and xxx_df.</p>
        <table>
            <tr>
                <!-- Use the column names of your dataframe as headers -->
                {% for col in data[0].keys() %}
                <th>{{ col }}</th>
                {% endfor %}
            </tr>
            <!-- Loop through the rows of your dataframe -->
            {% for row in data %}
            <!-- Check if the strike is greater than closing_price -->
            {% if row.strike > closing_price %}
            <!-- Add the highlight class to the row -->
            <tr class="highlight">
            {% else %}
            <tr>
            {% endif %}
                <!-- Loop through the values of each row -->
                {% for val in row.values() %}
                <td>
                {% if val is number and val % 1 == 0 %}
                    {{ "%.0f" | format(val) }}
                {% elif val is number and val == "%0.2f"|format(val|float) %}
                    {{ "%.2f" | format(val) }}
                {% elif val is number and val % 1 != 0 %}
                    {{ "%.3f" | format(val) }}
                {% else %}
                    {{ val }}
                {% endif %}

                </td>
                {% endfor %}
            </tr>
            {% endfor %}
        </table>

    </body>
    </html>
    """

    # Load the template
    template = jinja2.Template(template)

    # Render the template with the data
    return template.render(data=data, closing_price=closing_price)

print(close_price)
#print(xxx_df.to_markdown())
report_html = toHtml(xxx_df, closing_price=close_price)
display(HTML(report_html))

39.09000015258789